@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("http://fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("https://use.typekit.net/wbz8xwe.css");
body {
  font-family: "century-gothic", "Noto Sans JP", sans-serif !important;
}
.line {
  opacity: 0.1;
  transition: opacity 0.5s;
}

.line.active {
  opacity: 1;
}

.region-active {
  background-color: rgb(34 197 94 / var(--tw-text-opacity));
  color: white;
}
.industry-active {
  background-color: rgb(34 197 94 / var(--tw-text-opacity));
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  animation-fill-mode: forwards;
  z-index: 9999;
}

.loadingScreen.fade-in {
  animation: fadeIn 0.1s; /* 0.5秒でフェードイン */
}

.loadingScreen.fade-out {
  animation: fadeOut 0.3s; /* 0.5秒でフェードアウト */
}

.splide__pagination__page is-active {
  background: #000 !important;
}
